<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Bonos</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<h4 class="navbar-brand">Calculo de bonos corporativos</h4>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link"
					th:href="@{'/bono/'+${tm}+'/1/new'}">Americano</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{'/bono/'+${tm}+'/2/new'}">Aleman</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{'/bono/'+${tm}+'/3/new'}">Frances</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Herramientas </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/herramientas/tnpatep}">De
							TNP a TEP</a>
					</div></li>
			</ul>
			<div class="form-inline my-2 ">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button"
						id="dropdownMenuButton" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false" th:text="${moneda}"></button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" th:href="@{'/bono/0/'+${tt}+'/new'}">S/.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{'/bono/1/'+${tt}+'/new'}">US$</a>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<div style="margin-top: 30px;" class="container">
		<h3 class="title-content" th:text="'Metodo '+ ${tipo}"></h3>
		<div class="row">
			<div
				class=" bloque col-lg-5 col-md-12 col-sm-12 col-xs-12 frm-registro">
				<form th:action="@{'/bono/'+${tm} + '/'+ ${tt} + '/save'}"
					method="post" th:object="${bono}">
					<div class="form-group">

						<div class="form-group">
							<label>Valor nominal</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" th:text="${moneda}"></span>
								</div>
								<input type="number" required th:field="*{valorn}" step="any"
									class="form-control"></input>
							</div>
						</div>

						<div class="form-group">
							<label>Valor Comercial:</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" th:text="${moneda}"></span>
								</div>
								<input type="number" required th:field="*{valorc}" step="any"
									class="form-control"></input>
							</div>
						</div>

						<div class="form-group">
							<label>Tiempo en años:</label> <input type="number" required
								th:field="*{tiempo_anios}" class="form-control"></input>
						</div>


						<div class="form-group">
							<label>Frecuencia en dias:</label> <input type="number" required
								th:field="*{frecuencia}" class="form-control"></input>
						</div>


						<div class="form-group">
							<label>Tasa Efectiva Anual:</label> <br />
							<div class="input-group mb-3">
								<input type="text" required th:field="*{tea}" step="any"
									class="form-control"></input>
								<div class="input-group-prepend">
									<span class="input-group-text">%</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Tasa Anual de descuento:</label> <br />
							<div class="input-group mb-3">
								<input type="text" required th:field="*{tcok}" step="any"
									class="form-control"></input>
								<div class="input-group-prepend">
									<span class="input-group-text">%</span>
								</div>
							</div>
						</div>

					</div>
					<button type="submit" class="btnadd btn btn-primary">Calcular</button>
				</form>
			</div>

			<div th:if="${bono.n != 0}"
				class=" bloque row col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<div class="col-12">
					<h2>Resultados:</h2>
				</div>
				<div class="col-5">
					<h5>Capital:</h5>
					<p th:text="${bono.capital}"></p>
					<h5>N:</h5>
					<p th:text="${bono.n}"></p>
					<h5>TEP:</h5>
					<p th:text="${bono.getTEPacortado()}"></p>
					<h5>COK:</h5>
					<p th:text="${cok}"></p>
				</div>

				<div class="col-6" style="margin-left: 20px;">
					<h5>TCEA:</h5>
					<p th:text="${tcea}+ '%' "></p>
					<h5>Precio Actual:</h5>
					<p th:text="${moneda} + ${pa} "></p>
					<h5>Utilidad/Perdida:</h5>
					<p th:text="${moneda} + ${uop}"></p>
					<h5>Tir:</h5>
					<p th:text="${tir} + '%'"></p>
					
				</div>
			</div>

		</div>
		<table th:if="${bono.n != 0}" style="margin-top: 20px;" class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col" class="text-center">Periodo</th>
					<th scope="col" class="text-center">Saldo inicial</th>
					<th scope="col" class="text-center">Capital Amortizado</th>
					<th scope="col" class="text-center">Interes</th>
					<th scope="col" class="text-center">Cuota</th>
					<th scope="col" class="text-center">Capital pendiente</th>
					<th scope="col" class="text-center">Flujo emisor</th>
					<th scope="col" class="text-center">Flujo bonista</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="per : ${lista}">
					<td class="text-center" th:text="${per.periodo}"></td>
					<td class="text-center" th:text="${per.S}"></td>
					<td class="text-center" th:text="${per.CA}"></td>
					<td class="text-center" th:text="${per.I}"></td>
					<td class="text-center" th:text="${per.CU}"></td>
					<td class="text-center" th:text="${per.CP}"></td>
					<td class="text-center" th:text="${per.FE}"></td>
					<td class="text-center" th:text="${per.FB}"></td>
				</tr>

			</tbody>
		</table>
		<div class="alert alert-danger" role="alert" th:text="${mensaje}"
			th:if="${mensaje}"></div>





	</div>






	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>

</html>